    </main>
    <footer class="page-footer teal darken-2">
        <div class="container">
            <p class="center-align p-footer">© 2020 David Lane</p>
        </div>
    </footer>
</body>
</html>