<%- include('../partials/header') %>

<% profiles.forEach(function(profile) { %>
    <h1><%= profile.userName %></h1>
    <img src="<%= profile.userAvatar %>">
<% }); %>

<%- include('../partials/footer') %>
