body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-family: 'Righteous', cursive;
    text-shadow: -3px 3px #00bfa5;
}

nav li {
    font-weight: bold;
}

nav img {
    width: 3rem;
    display: block;
    margin-top: 10px;
}

.material-icons { 
    font-size: 3rem !important; 
}

.page-footer {
    padding: 4px 0;
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
        max-width: 1366px;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: unset;
        transform: unset;
    }
}

@media only screen and (max-width: 600px) {
    nav .brand-logo {
        left: 25%;
        transform: translateX(25%);
    }
}
